#get-in-touch-button:hover {
  background: white;
  color: #ff6a00;
}
#get-in-touch-button {
  background: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 1rem 3rem;
  color: white;
}
#home-page header {
  height: 700px;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  padding-top: 250px;
  text-align: center;
  color: white;
}
#home-page header p {
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
}
#home-page header h1 {
  font-size: 55px;
  font-family: 'Courier New', Courier, monospace;
}
#home-page footer {
  background: #3c312e;
  padding: 12rem 6rem;
}
#home-page footer h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}
#home-page footer .content {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 5rem;
}
#home-page footer a:hover {
  color: #fff;
}
#social-list a {
  padding-top: 5px;
  font-size: 25px;
  color: #fff;
  height: 50px;
  width: 50px;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}
#social-list li {
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}
