#get-in-touch-button:hover {
  background: white;
  color: #ff6a00;
}
#get-in-touch-button {
  background: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 1rem 3rem;
  color: white;
}
#home-page header {
  height: 700px;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  padding-top: 250px;
  text-align: center;
  color: white;
}
#home-page header p {
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
}
#home-page header h1 {
  font-size: 55px;
  font-family: 'Courier New', Courier, monospace;
}
#home-page footer {
  background: #3c312e;
}


  
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400; }
  .ftco-footer .ftco-footer-widget ul li a span {
    color: #fff; }
  .ftco-footer p {
    color: rgba(255, 255, 255, 0.7); }
  .ftco-footer a {
    color: rgba(255, 255, 255, 0.7); }
    .ftco-footer a:hover {
      color: #fff; }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #404044; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: #fff; }

      .ftco-bg-dark {
        background: #3c312e; }

        .ftco-section-featured {
          margin-top: -250px;
          padding-bottom: 7em; }
          .ftco-section-featured .container {
            z-index: 2;
            position: relative; }
          .ftco-section-featured .heading-section h2 {
            font-weight: 300 !important; }
            .ftco-section-featured .heading-section h2 strong {
              font-weight: 700;
              color: #efac78;
              background: #fdf2ea; }
          .ftco-section-featured.ftco-section-featured-2 {
            margin-top: 0 !important;
            padding-top: 7em; }
          
                    .ftco-section .ftco-primary-title {
                      margin-top: 0;
                      margin-bottom: 30px; }
                    
                    
                    
                    .about-author .desc h3 {
                      font-size: 24px; }
                    
                    .ftco-section {
                      padding: 8em 0;
                      position: relative; }
                      @media (max-width: 767.98px) {
                        .ftco-section {
                          padding: 6em 0; } }